html, body {
  padding-top:100px;
  margin: 0%;
 }
div { column-gap : 3rem}
body {
 background-color: white;
 background-image: url(img/pains2.jpg);
 background-size: cover;
 font-family: Calibri, sans-serif;
 font-size: 125%;
 }
h1 {
 font-size: 200%;
 color: White;
 text-align: center;
 }
h2 {
border: 1px #ccc solid;
border-width:1px 0;
 font-size: 150%;
 color: black;
 text-align: center;
 }
section{
margin left: 25%;
}
p {
  margin: 15px;
  color: black;
  text-indent: 50px;
  }
a:link {
 color: black;
 text-decoration: underline;
 }
a:visited {
color: black;
}

a:hover {
 color: black;
 text-decoration: none;
}

a:active, a:focus {
 color: black;
}
footer{
background-color: white;
text-align: center;
bottom:1;
height:0;
}
#banniere{
  margin: 0;
  background-image: url('img/baniere.png');
  width: 100%;
  height: 180px;
  position: absolute;
  top:0;
}
#banniere2{
    background-image: url('img/baniere2.png');
    margin:0;
    width: 100%;
    height: 120px;
    position: fixed;
    vertical-align: bottom;
}
  .nav{
    border:1px solid #ccc;
    border-width:1px 0;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
}
.nav a{
    display:inline-block;
    padding:10px;
}
.photo2
{
  padding: 2px;
  min-height: 253px;
  min-width: 248px;
  text-align: left;
  border: 1px solid #ccc;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  background: rgba( 255, 255, 255, 0.5);
   }
.photo
{
  text-align: center;
  border: 1px solid #ccc;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  position: sticky;
  vertical-align: middle;
  background: rgba( 255, 255, 255, 0.5);
}
.txt
{
  border: 1px solid #ccc;
  margin-left: 25%;
  margin-right: 25%;
  padding-left: 18%;
  max-width: 50%;
  background: rgba( 255, 255, 255, 0.5);
}
#tableaux
{
}
#moi
{
float: left;
margin: 5px;
}
#photopain
{
 width: 100%;
}
#txt
{
  min-width: 300px;
  min-height: 150px;
}
#boul
{
  float: left;
  margin: 5px;
  width: 243px;
}
